* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    width: 400px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
    color: #333;
    margin-bottom: 15px;
}

.subtitle {
    color: gray;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    text-decoration: none;
    background: #007BFF;
    color: white;
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    transition: 0.3s;
}

.btn:hover {
    background: #0056b3;
}